@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
}

<!DOCTYPE html>


<h1>@ViewBag.SeriesTitle</h1>
<h2>Issue number: #@ViewBag.IssueNumber</h2>

<br />

<div>Description: @Html.Raw(@ViewBag.Description)</div>

@if (ViewBag.Artists.Length > 0)
{
    <h4>Astists:</h4>
    <ul>
        @foreach (var artist in ViewBag.Artists)
        {
            <li>@artist</li>
        }
    </ul>
}
